<header>

    <!--Barra azul-->
    <div class="header__barra--azul"></div>

    <!--Heading Box-->
    <div class="header__barra--ingreso">

        <!--Logo-->
        <a href="/"><img src="/Imagenes/20-blanco.png" alt="secretos para contar 20años"></a>

        <!--Haeding-->
        <h1>¡Bienvenido a Verde y Letra!</h1>

        <!--Buttons Box-->
        <div class="botones__ingreso">
            <button class="botones__ingreso--login" onclick="">Log In</button>
            <button class="botones__ingreso--registro" onclick="">Registro</button>
        </div>
    </div>
</header>