<div class="cont">
    <div class="box">
        <div class="header">
            <h2 class="title">Recupera tu contraseña</h2><br>
            <p class="subtitle">
                Ingrese su dirección de correo electrónico y le enviaremos un enlace para restablecer su contraseña.
            </p>
        </div>
        <div class="content">
            <!-- Formulario para ingresar el correo electrónico -->
            <form action="/ruta-al-servidor" method="POST" class="form">
                <div class="input-group">
                    <label for="email" class="label">Correo electrónico:</label>
                    <input type="email" id="email" name="email" required placeholder="Ingrese su correo electrónico" class="input">
                </div>
                <button type="submit" class="btn shadow-orange">
                    Enviar enlace de restablecimiento
                </button>
            </form>
        </div>
    </div>
</div>