<header>

    <!--Barra azul-->
    <div class="header__barra--azul"></div>

    <!--Heading Box-->
    <div class="header__barra--ingreso">

        <!--Logo-->
        <a href="/principal.html"><img src="/Imagenes/20-blanco.png" alt="secretos para contar 20años"></a>

        <!--Haeding-->
        <h1>¡Bienvenido a Verde y Letra!</h1>

        <!--Buttons Box-->
        <div class="botones__ingreso">
            <a href="/Login/login.html" class="botones__ingreso--login">Log in</a>
            <a href="/Registro/registro.html" class="botones__ingreso--registro">Registro</a>
        </div>
    </div>
</header>